body {
  margin: 0px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: 350px;
  height: 350px;
  margin: 10px;
  transition: all 0.5s;
}

img:hover {
  transform: scale(1.1);
}

h2 {
  font-family: cursive;
  font-size: 20px;
  color: red;
  width: 395px;
  border-bottom: 1.8px solid rgb(255, 30, 218);
  border-right: 1.8px solid rgb(232, 12, 232);
  text-align: center;
  margin-bottom: 20px;
}
